[submodule "dialog-polyfill"]
	path = dialog-polyfill
	url = https://github.com/GoogleChrome/dialog-polyfill
[submodule "tabler"]
	path = tabler
	url = https://github.com/tabler/tabler
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap/
