<?php

$database = [
  'url'      => 'mysql:host=localhost;dbname=projektwahl',
  'dbname'   => 'projektwahl',
  'username' => 'root',
  'password' => 'test',
];

$options = [
    'cost' => 10,
];

?>
