<?php

$database = [
  '_comment' => 'IMPORTANT: absolute path required',
  'url'      => 'sqlite:/var/www/aes.selfmade4u.de/projektwahl.db',
  'dbname'   => 'projektwahl',
  'username' => 'root',
  'password' => 'test',
];

$options = [
    'cost' => 10,
];

?>
