/* bod sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* basic style */
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --background-color: hsl(240, 100%, 14%);
  --background-color-light: hsl(240, 100%, 50%);
  --foreground-color: white;
  --hover-color: hsla(0, 100%, 53%, 1);
  background-color: red;
}

/* fading colors */
* {
  transition: background-color 0.25s;
}

/* align headers */
h1 {
  text-align: center;
}

/* default table styling */
table, .w-100 {
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
  border-bottom: 1px solid #bbb;
  padding: 0.5em;
}

tr:hover {background-color: #e4e4e4;}

.responsive {
  overflow-x: auto;
}

/* basic styling of navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background-color);
}

/* menu from the left */
li {
  float: left;
}

/* put logging out on the right */
.float-right {
  float: right;
}

/* style nav links */
li a {
  display: inline-block;
  color: var(--foreground-color);
  padding: 0.5em 0.5em;
  text-decoration: none;
}

/* red on hover */
li a:hover {
  background-color: var(--hover-color);
}

/* show active tab */
.active {
  background-color: var(--background-color-light);
}

/* only icons on small screen */
@media screen and (max-width: 41em) {
  .hidden-small {
    display: none;
  }
}

.button, button[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  padding: .8rem 2rem;
  color: var(--foreground-color);
  background-color: var(--background-color);
  border: 0;

}

.container {
  margin: 5px;
}

/* form improvements */
/*@media screen and (min-width: 55em) {
  .form-group {
      display: flex;
      flex-wrap: wrap;
  }

  label.col {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
@media screen and (max-width: 55em) {*/
  .col {
    width: 100%;
  }
/*}*/

input, textarea, select {
  padding: 0.5em 0.5em;
  margin: 0.5em 0;
}
